*{
    margin: 0;
    padding: 0;
}
:root{
    --borderColor:#020051;
    --colorFondo1:#FFF2F2;
    --letrasColor:rgb(2, 2, 32);
    --fondoEntradas:#DFE2FF;
    --fondaCajas:rgb(206, 206, 214);
}
body{
    background: rgb(235, 229, 229);
}