@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.parte-mensaje{
    margin: 10px auto 20px 20px;
    font-family: 'Lobster', cursive;
    color: rgb(92, 49, 24);
}
.parte-mensaje.mensaje1{
    font-size: 3rem;
}
.parte-mensaje.mensaje2{
    font-size: 2rem;
}

.formulario{
    border: 2px solid rgb(44, 19, 2);
    width: 70%;
    margin: auto;  
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: rgb(243, 225, 217);
}
.formulario .fil{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2% auto 1% auto;
}
.formulario .fil label{
    font-family: arial;
    font-size: 1.2rem;
}
.formulario .fil .entrada{
    font-size: 1.3rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(44, 19, 2);
    padding: 5px;
    font-family: arial;
}
.formulario .fil .entrada.area{
    resize: none;
    font-size: 1.1rem;
    height: 100px;
}
.formulario .boton-area{
    width: 100%;
    height: 80px;
    display: flex;
}
.formulario .boton-area .boton{
    margin: auto;
    padding: 5px;
    font-size: 1.5rem;
    border: 2px solid rgb(54, 31, 5);
    background: rgba(211, 141, 49, 0.767);
    color: rgb(54, 27, 9);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.356);
}
.formulario .boton-area .boton:hover{
    background: rgb(54, 31, 5);
    color: rgba(211, 141, 49, 0.767);
    cursor: pointer;
}
.formulario .boton-area .boton:active{
    box-shadow:inset 0 2px 5px rgba(0, 0, 0, 0.356);
}
.mensajes{
    width: 95%;
    margin: auto auto 10px auto;
    border: 2px solid rgb(22, 13, 2);
    background: rgb(255, 239, 209);
    border-radius:10px ;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.mensajes .fila-mensaje{
    width: 95%;
    margin: 10px auto 0 auto;
    border-bottom: 2px dashed brown;
    padding: 5px 0 10px 0;

}
.mensajes .fila-mensaje .texto{
    font-family: arial;
}
.mensajes .fila-mensaje .texto:nth-child(1){
    font-size: 1.5rem;
}
.mensajes .fila-mensaje .texto:nth-child(2){
    max-width: 90%;
    margin:auto ;
}